@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", Arial;
}

body {
    overflow-x: hidden;
}

header {
    height: 15vh;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding: 0 5rem;
}

.logo {
    font-size: 3rem;
    font-weight: 900;
    font-style: italic;
    color: rgb(197, 0, 0);
}

.logo span {
    color: black;
}

header section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.menu-header {
    width: 20vw;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu-header li{
    font-size: 1.4rem;
}

.menu-header li:hover{
    transition: .3s ease-in-out;
    opacity: .6;
}

.btn-login-header {
    background: rgb(197, 0, 0);
    padding: .7rem 4rem;
    border-radius: 10px;
    color: white;
    font-size: 1.4rem;
    cursor: pointer;

    border: none;
}

.btn-login-header:hover {
    transition: .3s ease-in-out;
    background: rgb(227, 0, 0);
}

header li {
    list-style: none;
}

header a {
    text-decoration: none;
    color: black;
}


/* main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* section introdução */

.introdução {


    width: 70vw;
    height: 85vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.introdução figure {
    width: 34vw;
}

.introdução section {
    width: 34vw;
}

.introdução figure img {
    width: 30vw;
    margin-right: 30.72px;
}

.introdução section p {
   font-weight: 600;
   font-size: 1.4rem;
}

.introdução section h2 {
    font-weight: 600;
    font-size: 3.5rem;
    margin-bottom: 5rem;

    color: rgb(197, 0, 0);
}

.introdução .btn-solicitar-orcamento {
    background: rgb(197, 0, 0);
    padding: .7rem 4rem;
    border-radius: 10px;
    color: white;
    font-size: 1.4rem;
    text-decoration: none;

    border: none;
    cursor: pointer;
}

.btn-solicitar-orcamento:hover {
    transition: .3s ease-in-out;
    background: rgb(227, 0, 0);
}



/* section itens */


.itens {

    width: 70vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.itens img {
    width: 30vw;
}

.lista {
    margin-right: 15rem;
}

.lista h4 {
    font-weight: 400;
    font-size: 1.5rem;
    margin: 0 0 2rem 0;
}

.lista h4 i {
    margin-right: 1rem;
    color: rgb(197, 0, 0)
}

.form-tel h4 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: .8rem;
}

.form-tel form input {
    width: 17vw;
    height: 8vh;
    border-radius: 10px;
    outline: none;
    border: none;
    background: rgb(217, 217, 217);
    padding: 1rem;
    margin-right: .8rem;
}

.form-tel form input::placeholder{
    font-size: 1.1rem;
}

.form-tel form button {
    width: 17vw;
    height: 8vh;
    border-radius: 10px;
    background: rgb(197, 0, 0);
    outline: none;
    border: none;

    cursor: pointer;

    color: white;
    font-size: 1.1rem;
    font-weight: 600;
}

.form-tel form button:hover {
    transition: .3s ease-in-out;
    background: rgb(227, 0, 0);
}



/* section depoimentos */


.depoimentos {

    width: 70vw;
    height: 50vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.depoimentos article {
    width: 33.5vw;
    height: 25vh;
    border-radius: 1rem;

    background: rgb(217, 217, 217);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.photo-depoi {
    width:  100px;
    height: 100px;
    border-radius: 50%;
    background: rgb(197, 0, 0);
}

.texto-depoimento {
    width: 22vw;
}

.texto-depoimento p {
    margin-bottom: .8rem;
    font-size: 1.1rem;
    text-align: leftt;
    font-weight: 500;
}

.texto-depoimento h4 {
    font-size: 2rem;
    font-weight: 400;
}

.texto-depoimento h5 {
    font-size: 1.2rem;
    font-weight: 600;
}



/* footer */

footer {

    height: 50vh;

    background: black;
    color: white;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    padding: 0 5rem;
    
}

footer section {
    width: 20vw;
    height: 20vh;
}

footer section h2 {
    font-size: 2rem;
}

footer section p {
    font-size: 1.3rem;
}


.logo-footer h2 {
    font-size: 3rem;
    font-weight: 900;
    font-style: italic;
    color: rgb(255, 255, 255);
    margin-bottom: 2rem;
}

.sobre h2{
    margin-bottom: 2rem;
}

.contato-footer h2{
    margin-bottom: 2rem;
}

.contato-footer p{
    margin-bottom: .5rem;
}

.contato-footer a{
    color: white;
}


.redes-sociais h2 {
    margin-bottom: 2rem;
}

.redes-sociais img {
    width: 50px;
    cursor: pointer;
    margin-right: 1rem;
}

.redes-sociais img:hover {
    transition: .3s ease-in-out;
    opacity: .7;
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.icones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
    justify-content: center;
}


/* mobile responsive */

@media(max-width: 400px) {

    header {
        width: 100vw;
        height: 25vh;
        
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        padding: 0;
    }

    .btn-login-header {
        display: none;
    }

    .menu-header {
        width: 80vw;
    }

    .menu-header li{
        font-size: 1.2rem;
    }

    /*main introdução*/

    .introdução {
        width: 100vw;
        height: 70vh;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .introdução figure {
        width: 100vw;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-bottom: 1rem;
    }
    
    .introdução section {
        width: 100vw;
        text-align: center;
    }
    
    .introdução figure img {
        width: 60vw;
        margin-right: 0;    
    }
    
    .introdução section p {
       font-weight: 600;
       font-size: 1rem;
    }
    
    .introdução section h2 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
    
    .introdução .btn-solicitar-orcamento {
        font-size: 1rem;
    }


    /* section itens */

    .itens {
        border: 1px solid red;
        width: 100vw;
        height: 120vh;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .itens img {
        width: 35vw;
    }
    
    .lista {
        border: 1px solid red;
        width: 60vw;
        margin-right: 15rem;

        display: flex;
        flex-direction: column;

        text-align: left;
    }
    
    .lista h4 {

        font-weight: 400;
        font-size: 1.2rem;
        margin: 0 0 2rem 0;
    }
    
    .lista h4 i {
        margin-right: 1rem;
        color: rgb(197, 0, 0)
    }

    .form-tel {
        border: 1px solid red;
        width: 100vw;
        height: 25vh;
        display: flex;
        flex-direction: column;
    }
    
    .form-tel h4 {
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: .8rem;
    }
    
    .form-tel form input {
        width: 17vw;
        height: 8vh;
        border-radius: 10px;
        outline: none;
        border: none;
        background: rgb(217, 217, 217);
        padding: 1rem;
        margin-right: 0;
    }
    
    .form-tel form input::placeholder{
        font-size: 1.1rem;
    }
    
    .form-tel form button {
        width: 17vw;
        height: 8vh;
        border-radius: 10px;
        background: rgb(197, 0, 0);
        outline: none;
        border: none;
    
        cursor: pointer;
    
        color: white;
        font-size: 1rem;
        font-weight: 600;
    }
    
    .form-tel form button:hover {
        transition: .3s ease-in-out;
        background: rgb(227, 0, 0);
    }
    
}   